<?php
/**
 * storage-for-all-things
 * Copyright © 2019 Volkhin Nikolay
 * 26.09.2019, 0:04
 */


use Environment\Database\IDbCredentials;

$options = [
    IDbCredentials::DB_HOST => 'localhost',
    IDbCredentials::DB_PORT => '5432',
    IDbCredentials::DB_LOGIN => 'postgres',
    IDbCredentials::DB_PASSWORD => 'data_tester_password_to_test_db',
    IDbCredentials::DB_NAME => 'all-things',
    IDbCredentials::PDO_DBMS => 'pgsql',
];

return $options;
